body {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* Animasi berkedip untuk titik-titik loading */
  /* Menambahkan jeda antar titik */
}
body .container {
  position: relative;
  width: 100%;
  height: 100vh;
}
body .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20%;
}
body .background {
  display: flex;
  flex-direction: row;
}
body .hijau {
  width: 100%;
  height: 50%;
  background-color: #677d39;
}
body .putih {
  width: 100%;
  height: 50%;
  background-color: #ffffff;
}
body #slogan {
  width: 100%;
  position: absolute;
  bottom: 40px;
  color: black;
  text-align: center;
}
body #loading {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
}
body .dot {
  animation: blink 2s infinite;
  margin: 0 5px;
  color: #333;
}
@keyframes blink {
  0%, 100% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
}
body .dot:nth-child(1) {
  animation-delay: 0s;
}
body .dot:nth-child(2) {
  animation-delay: 0.2s;
}
body .dot:nth-child(3) {
  animation-delay: 0.4s;
}
body .dot:nth-child(4) {
  animation-delay: 0.6s;
}
body .dot:nth-child(5) {
  animation-delay: 0.8s;
}
body .dot:nth-child(6) {
  animation-delay: 0.1s;
}
body .main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: end;
}
body .main .container {
  width: 90%;
  height: 80%;
  background-color: #677d39;
  border-radius: 30px 30px 0px 0px;
}
body .main .container .logo {
  width: 300px;
  position: absolute;
  z-index: 1;
  top: 0px;
}
body .main .container .menu {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
body .main .container .menu button {
  width: 30%;
  padding: 20px;
  background-color: #87a942;
  color: white;
  border-radius: 20px;
  font-size: 2rem;
  border-color: #87a942;
}
body .main .container .menu #slogan {
  position: absolute;
  bottom: 20px;
  color: white;
  text-align: center;
}
body .container .about {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}
body .container .about .card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  height: 95%;
  background-color: #677d39;
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
  color: white;
  text-align: center;
}
body .container .about .card .p {
  width: 70%;
  margin: 20px auto;
  line-height: 1.5;
}
body .container .about .card p {
  line-height: 1.5;
}
body .container .header {
  box-sizing: border-box;
  width: 100%;
  height: 8%;
  background-color: #677d39;
  display: flex;
  align-items: center;
  padding-left: 20px;
  margin-bottom: 20px;
}
body .container a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
body .container .cards {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 20px;
  flex-wrap: wrap;
}
body .container .cards img {
  width: 100%;
  border-radius: 10px;
}
body .container .cards .card {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
body .container .cards .card .slider-form {
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  background-color: #677d39;
}
body .container .cards .card .slider-form h2 {
  text-align: center;
  color: white;
}
body .container .cards .card .slider-form hr {
  background-color: rgb(177, 177, 177);
  height: 1px;
}
body .container .cards .card .slider-form .slider-container {
  margin-top: 30px;
  text-align: center;
  color: white;
}
body .container .cards .card .slider-form .slider-container input[type=range] {
  width: 100%;
  appearance: none;
  height: 18px;
  background: #ddd;
  outline: none;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 8px;
}
body .container .cards .card .slider-form .button {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  background-color: #87a942;
  margin-top: 10px;
  color: white;
}
body .container .quesion {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}
body .container .quesion .box {
  width: 90%;
  height: 80%;
  background-color: #677d39;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
}
body .container .quesion .box h3 {
  color: white;
  margin-bottom: 50px;
}
body .container .quesion .box hr {
  margin: 15px auto;
  color: white;
  width: 70%;
}
body .container .quesion .box p {
  color: white;
  width: 50%;
  margin: auto;
}
body .container .quesion .box form .item {
  box-sizing: border-box;
  padding: 20px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  margin: auto;
  gap: 20px;
  color: white;
}
body .container .quesion .box form .item .item_question {
  background-color: #87a942;
  padding: 10px;
  display: flex;
  gap: 10px;
  justify-content: start;
  width: 250px;
  height: 20px;
}
body .container .quesion .box form .item .item_question input[type=checkbox] {
  transform: scale(2);
  margin-right: 5px;
}
body .container .quesion .box .button {
  background-color: #87a942;
  padding: 10px;
  width: 90%;
  height: 50px;
  margin: 60px 0px 40px 0px;
  color: white;
  border-color: white;
}
body .container {
  width: 100%;
}
body .container .detail_quesion {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  color: white;
}
body .container .detail_quesion .box {
  width: 90%;
  height: 80%;
  background-color: #677d39;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
}
body .container .detail_quesion .box hr {
  color: white;
}
body .container .detail_quesion .box hr {
  margin: 15px auto;
  width: 70%;
}
body .container .detail_quesion form {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
body .container .detail_quesion form .item {
  width: 100%;
  background-color: #677d39;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 20px;
}
body .container .detail_quesion form .item h3,
body .container .detail_quesion form .item p {
  padding: 0px;
  margin: 0px;
}
body .container .detail_quesion form .item .no {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}
body .container .detail_quesion form .item .detail {
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
  gap: 20px;
  margin-left: 40px;
}
body .container .detail_quesion form .item .detail input[type=checkbox] {
  transform: scale(1.5);
  margin-right: 5px;
}
body .container .detail_quesion form .button {
  background-color: #87a942;
  padding: 10px;
  width: 100%;
  height: 50px;
  margin: 20px 0px 40px 0px;
  color: white;
  border-color: white;
  font-size: 30px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .container .hasil {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  color: white;
}
body .container .hasil .box {
  width: 90%;
  height: 80%;
  background-color: #677d39;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
}
body .container .hasil .box hr {
  color: white;
}
body .container .hasil .box table {
  border-color: white;
  border: solid 1px;
  margin: auto;
}
body .container .hasil .box #p {
  width: 50%;
  margin: auto;
}
body .container .hasil .box .loading-spinner {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid #f3f3f3;
  border-radius: 50%;
  border-top: 2px solid #3498db;
  animation: spin 1s linear infinite;
  margin-right: 5px;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
body .container .hasil .box #buatJamuBtn {
  width: 90%;
  height: 50px;
  background-color: #87a942;
  border-radius: 10px;
  border-color: #87a942;
  color: white;
  margin-top: 20px;
  font-size: 15px;
}
body .container .hasil .box .loading-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
body .container .hasil .box #statusText {
  margin-top: 10px;
  font-size: 20px;
  color: white;
  display: none;
  /* Mulai dengan teks tersembunyi */
}

@media (max-width: 480px) {
  body .logo {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
  }
  body .hijau {
    width: 100%;
    height: 45%;
    background-color: #677d39;
  }
  body .putih {
    width: 100%;
    height: 55%;
    background-color: #ffffff;
  }
  body #loading {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
  }
  body #slogan {
    bottom: 60px;
  }
  body .main .container .menu button {
    width: 60%;
    padding: 20px;
    background-color: #87a942;
    color: white;
    border-radius: 20px;
    font-size: 20px;
    border-color: #87a942;
  }
  body .main .container .menu #slogan {
    bottom: 60px;
  }
  body .container .about .card {
    text-align: left;
  }
  body .container .about .card .p {
    width: 100%;
  }
  body .container .cards .card {
    width: 90%;
  }
  body .container .quesion .box p {
    color: white;
    width: 100%;
    margin: auto;
  }
  body .container .quesion .box hr {
    margin: 15px auto;
    color: white;
    width: 100%;
  }
  body .container .quesion .box form .item {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
  }
  body .container .quesion .box .button {
    width: 270px;
    margin: 20px 0px;
  }
  body .container .detail_quesion .box hr {
    width: 95%;
  }
  body .container .detail_quesion form .item .no {
    justify-content: start;
    margin-bottom: 10px;
  }
  body .container .detail_quesion form .item .no p {
    text-align: start;
  }
  body .container .detail_quesion form .item .detail {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-left: 25px;
  }
  body .container .hasil .box .khasiat #p {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
